{% trans_default_domain "editor" %}

{% block html_tag %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% endblock html_tag %}

{% block head %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1{% endblock %}">

	{% block head_style %}
		{% stylesheets filter="cssrewrite"
			'bundles/frontend/vendor/bootstrap/dist/css/bootstrap.css'
			'bundles/frontend/vendor/font-awesome/css/font-awesome.css'
			'bundles/frontend/css/common.css'
		%}
			<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
		{% endstylesheets %}
	{% endblock head_style %}

	{% block head_script %}
	{% endblock head_script %}
</head>
{% endblock head %}

{% block body_tag %}
<body class="{% block body_class %}{% endblock %}">
{% endblock body_tag %}

{% block body_start %}
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
{% endblock %}

{% block wrapper %}
<section class="wrapper">
{% endblock %}

{% block body %}
<section class="__outer">
	<section class="__inner">
		<header role="banner">
			{% block header %}
				<div class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
							</button>
							<a class="navbar-brand" href="{{ path('home') }}">
								{% block brand %}{% trans %}brand{% endtrans %}{% endblock %}
							</a>
						</div>
						<div class="navbar-collapse collapse" id="navbar-main">
							<div>
								{{ knp_menu_render('FrontendBundle:Builder:userMenu', { style: 'navbar-right' }) }}
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
		</header>

	<div class="main {% block page_class -%}{%- endblock %}">
		<div class="container-fluid">
			<div class="content">
				{% include "UAMBootstrapBundle::flash.html.twig" %}
				{% block content %}<h1>page content</h1>{% endblock content %}
			</div>
		</div>
	</div>

	</section>
</section>
<footer role="contentinfo">
	{% block footer %}{% endblock %}
</footer>
{% endblock %}

{% block foot_script %}
	{% javascripts
		'bundles/frontend/vendor/jquery/dist/jquery.min.js'
		'bundles/frontend/vendor/bootstrap/dist/js/bootstrap.min.js'
	%}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}

{% block wrapper_close %}
</section>
{% endblock %}

</body>
</html>
