html, body {
	height: 100%;
	background: #fff;
	padding-top: 25px;
}

.navbar-default {
	background-color: #2c3e50;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #18bc9c;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav .navbar-text {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #18bc9c;
}

.wrapper {
	min-height: 100%;
	height: 100%;
	overflow: scroll;
}

.__outer {
	min-height: 100%;
	padding-bottom: 25px;
}
.__inner {
	overflow: auto;
	padding-bottom: 40px;
}

footer {
	position: relative;
	margin-top: -40px;
	height: 40px;
	clear: both;
	padding: 10px 0;
	box-sizing: border-box;
}

/* Opera Fix */
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
